---
let { title, frontmatter } = Astro.props;
if (title == undefined) {
  title = frontmatter.title;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="/favicon.png">
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
